<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bullying</title>
    <link rel="stylesheet" href="css/bullying.css">
    <form method= "POST" action = "/mental_health">
    <input class="btn_bullying" type= "submit" value="Back"></form>
    <h1>Bullying</h1>
  </head>
  <body>
    <h3>
      Bullied LGBTQ+
      <!--Topic/title of post-->
    </h3>
    <h4>
      <!--Date and author ex. Lusia at 9-21-18-->
      lusia69 at Aug. 2, 2018
    </h4>
    <p>
      <!--Actual post -->
      This part of the blog is for kids who were bullied for either being gay, trans, pansexual, bi, genderfluid and more. I have been bullied for being pansexual and genderfluid by kids at my school. I have been questioned and have had the bible read to me. When I came out as genderfluid to my mom she told me “Hell no your not becoming trans, you're a girl.” it took me a while before she understood what it meant. I had a hard time coming to terms with being pansexual and a harder time with coming to terms with being genderfluid. I came out as bisexual when I was 11 but my mom yelled at me and said “you’ve always have been boy crazy and never into girls” so to just make her happy I told her the next day that I was straight and we never spoke of it again. I knew I liked girls when I was about 7 or 8 but I never knew what it was called and I never told anyone out of fear I would be bullied or yelled at. When I was 12 I came out to my 2 cousins that are both bisexual and they told me that they were proud of me. Finally when I was 13 I told my mom I was going to the dance with one of my friend who was a girl and she asked if her mom knew and I said yeah then she asked if she was straight and I said yeah finally for some reason she asked if I was straight and I was quiet for a while then she asked again and I said no. She looked at me and said “then what are you?” and I said I'm pansexual and she just nodded and said she accepts me. I came out to my grandma and sister then they asked me stupid questions like "so you would date a monkey" and "so you would date an old man?" which I answered no and left very angry. Finally, after maybe 2 months, I came out to everyone in my family and they, at first, asked if it could be a phase which I said no then they said ok and that they are ok with it. I haven't come out as genderfluid but I'm getting there. 


    </p>
  </body>
</html>