<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cooking</title>
    <form method= "POST" action = "/food">
    <input type= "submit" value="back"></form>
    <h1>Cooking</h1>
  </head>
  <body>
    <h3>
      <!--Topic/title of post-->
      Cooking
    </h3>
    <h4>
      jaydensansom at Aug. 2, 2018
      <!--Date and author ex. Lusia at 9-21-18-->
    </h4>
    <p>
      <!--Actual post -->
      Cooking is an art, a science. It depends on what you want to make but each recipe you can mold, and create. My mother made her own chocolate chip cookie recipe and has even given it to me. I bake a lot but the difference between a chef and cook is that one invents. The following is a recipe I have used for a while to make a devil’s food cake:

Ingredients:

-2 cups all-purpose unbleached flour
-1 ½ teaspoons baking soda
-¾ teaspoon baking powder
-¾ teaspoon salt
-12 tablespoons unsalted butter at room temperature
-2 cups + 2 tablespoons sugar
-¾ non alkalized cocoa powder (cannot be Dutch-processed)
-2 teaspoons pure vanilla extract
-3 eggs
-1 ¼ cups water
-¼ cup milk

1: Preheat your oven to 350 degrees F.
2: Butter your pan and line the bottom with parchment paper
3: Whisk together your flour, baking soda, baking powder, and salt, then set aside.
4: In a stand mixer, beat the butter until smooth and slowly add the sugar.
5: Scrape down the sides of the bowl and add the cocoa powder and vanilla, beating for 1 more minute.
6: Add the eggs one at a time until smooth.
7: Combine the water and milk than in a saucepan, bring them to a boil.
8: Add the flour mixture  ¼ cup at a time to the mix in the stand mixer, then add the hot liquid to the matter after beaten smooth.
9: Pour the batter into the pans and cook for 30 to 35 minutes.
10: Decorate as desired.

    </p>
  </body>
</html>