<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fashion</title>
    <h1>Fashion</h1>
  </head>
  <body>
    <h3>
      Sweaters
      <!--Topic/title of post-->
    </h3>
    <h4>
      <!--Date and author ex. Lusia at 9-21-18-->
      jcsansom on Aug. 2, 2018
    </h4>
    <p>
      <!--Actual post -->
      Sweaters are the bomb.com. They keep you warm and cozy and are pretty fashionable. If you do not own a sweater you should get one.
    </p>
  </body>
</html>