<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fitness</title>
        <p>Back</p>
    <form method= "POST" action = "/health">
    <input type= "submit"></form>
    <h1>Fitness</h1>
  </head>
  <body>
    <h3>
      The benefits of Taekwondo
      <!--Topic/title of post-->
    </h3>
    <h4>
      jcsansom on Aug. 2, 2018
      <!--Date and author ex. Lusia at 9-21-18-->
    </h4>
    <p>
      People should do Taekwondo because of its many health benefits. For starters it is a great cardio workout working on legs, arms, and the core. Plus you can learn some nifty self-defense moves.

      <!--Actual post -->
    </p>
  </body>
</html>