<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fitness</title>
    <h1>Fitness</h1>
  </head>
  <body>
    <h3>
      <!--Topic/title of post-->
    </h3>
    <h4>
      <!--Date and author ex. Lusia at 9-21-18-->
    </h4>
    <p>
      <!--Actual post -->
    </p>
  </body>
</html>