<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FOOD</title>
  </head>
  <body>
    <p>Reviews</p>
    <form method= "POST" action = "/reviews">
    <input type= "submit"></form>
        <p>Cooking</p>
    <form method= "POST" action = "/cooking">
    <input type= "submit"></form>
  </body>
</html>