<!DOCTYPE html>
<html lang="en">
  <head>
          
    <form method= "POST" action = "/">
    <input type= "submit" value="Back"></form>
    <title>FOOD</title>
  </head>
  <body>
    
    <form method= "POST" action = "/reviews">
    <input type= "submit" value="Reviews"></form>
      
    <form method= "POST" action = "/cooking">
    <input type= "submit" value="Cooking"></form>
  </body>
</html>