<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/food.css">
    <form method= "POST" action = "/">
    <input class="btn_back_food" type= "submit" value="Back"></form>
    <title>FOOD</title>
  </head>
  <body>
    
    <form method= "POST" action = "/reviews">
    <input class="btn_food1" type= "submit" value="Reviews"></form>
      
    <form method= "POST" action = "/cooking">
    <input class="btn_food2" type= "submit" value="Cooking"></form>
  </body>
</html>