<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/health.css">
    <form method= "POST" action = "/">
    <input class="btn_back_health" type= "submit" value="Back"></form>
    <title>HEALTH</title>
  </head>
  <body>
    <h1>Health</h1>
  
    <form method= "POST" action = "/health_2">
    <input class="btn_health1" type= "submit" value="Health"></form>
      
    <form method= "POST" action = "/fitness">
    <input class="btn_health2" type= "submit" value="Fitness"></form>
      
  </body>
</html>