<!DOCTYPE html>
<html lang="en">
  <head>
        <p>Back</p>
    <form method= "POST" action = "/">
    <input type= "submit"></form>
    <title>HEALTH</title>
  </head>
  <body>
    <h1>Health</h1>
    <p>Health</p>
    <form method= "POST" action = "/health_2">
    <input type= "submit"></form>
        <p>Fitness</p>
    <form method= "POST" action = "/fitness">
    <input type= "submit"></form>
      
  </body>
</html>