<!DOCTYPE html>
<html lang="en">
  <head>
        
    <form method= "POST" action = "/">
    <input type= "submit" value="Back"></form>
    <title>HEALTH</title>
  </head>
  <body>
    <h1>Health</h1>
  
    <form method= "POST" action = "/health_2">
    <input type= "submit" value="Health"></form>
      
    <form method= "POST" action = "/fitness">
    <input type= "submit" value="Fitness"></form>
      
  </body>
</html>