<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Health</title>
    <link rel="stylesheet" href="css/health_2.css">
    <form method= "POST" action = "/health">
    <input class="btn_health_2" type= "submit" value="Back"></form>
    <h1>Health</h1>
  </head>
  <body>
    <h3>
      How to deal with ingrown toenails
      <!--Topic/title of post-->
    </h3>
    <h4>
      jcsansom on Aug. 2, 2018
      <!--Date and author ex. Lusia at 9-21-18-->
    </h4>
    <p>
      <!--Actual post -->
      1. Use epsom salt on your feet with warm water. Carefully massage the skin back. Take a nail file and carefully shape the toenail back. 
2. If that does not work go to the doctor. They may give you some tips or remove it surgically. 

    </p>
  </body>
</html>