<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HOME</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  
  <body>
    <div id = "header_color">
    <h1><img src= "https://lh3.googleusercontent.com/QP_0vOY2kvqO3xhJNFXJwwO17OQOZNdiho81Edw0lw4HD9ZuZg5EW2qr0Tq48KUn4vXZ7DxmnDxdifidP2sqt-JGNt7gLM-uddtsnTbTA5NC73KuvyJ4zrPPyx0d56ucP4YhUt1r-5Pzz5o_uHe-4sIWEb6KRhpF_drAcsMKOfPXTeUzsVCqsbBf_ZgjIP40bIHm-VovKfp77hLGmw-PGwX5asFqyGy-EOXrGK63o0gW8QZSAqHu4L3oD-qIPGqx6hNs63mUpnf_vu_HA8mcOdX0L-WzfDhx_HtuwyJVnqlhGrYPGSivVzRljnoxnNOXloemzYvOrwC_8ZXp8Ah5iMKBCit4gUYe8Fwi18trSee95Kyo0kIhT_lznUhurs7Al2SWaZiaBPRwe9czW-PfYARnqb29wDrBfIdNsAx7Wmg04ffDGJyw7CeTN1LLZdLKdXi1haABmBDH1FRccW33gR-LiXsa0-yqrWFcOWMoPSsvr1-NAgseQq2O0SiOJCjpQ4Nw7tLZ0CEGMz7NC3yB7whsz250Af1YVeImYX1mitmiCwCdka_65ljaL65FLo6hIaBeLgJ5WllOqsYhSjP9K724aqUv_pFEtNi46mM=s1000-no" width="100" height="100"> <%="Welcome to Safe Space #{@name}!"%></h1>
    </div>
    
    <center>
    
    <div id = "body_image">
    <form method= "POST" action = "/health">
    <input class="btn1" type= "submit" value="Health"></form>
       
    <form method= "POST" action = "/food">
    <input class="btn2" type= "submit" value="Food"></form>
        
    <form method= "POST" action = "/mental_health">
    <input class="btn3" type= "submit" value="Mental Health"></form>
        
    <form method= "POST" action = "/more">
    <input class= "btn4" type= "submit" value="More"></form>
    
    </div>
    
    </center>
  </body>
</html>

<!--<h2>align="left":</h2>-->
<!--<p>This is some text. <img src="smiley.gif" alt="Smiley face" width="42" height="42" align="left"> This is some text.</p>-->