<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HOME</title>
    <link rel="stylesheet" href="css/style.css"
  </head>
  <body>
    <h1><img src= "https://lh3.googleusercontent.com/B93NnV3aHqcdh4ahrQeL4mZBoUWqMmcKAdL0kOcqJVwwuhI4LH8WDyXwxCavdUkP78MiFhvvhs-Py-YwYHREQw2A-hnfWEtwJEgiAEWqt2Zkxe0b2zTjPdYwMaj4BNVUJaUNeohC9AnBbpGpoCra0KQ2wTsd36L780LEXewNI4b0cG5F6nXTWlrsSOwdT7lD-aSqmQnMIOzjch_gESC0qu15YAefmDfImr22dO2cdvHA3LFEKHuK2kF882Kfg3VEIsr9ockoJTZOGDW_8jSFbFzEGgAE1NJEhWB1OxvxbyS36Az9Yji0xzSGxdNZfWxRFV6rIL6wlBlhJ0unlGZ7ljq5UpL8HLPJ31kqr9wVP6reClTRnXfeajGkoPuOpTrl1YDsuR6_W5mzpn-qfS87AskGLw_usnls96hr4aLiRZqZNjkYvRkYqyW5gcetlgbcVrJ2aebYH7g0Osd3pKijdZOnEYEKRZSgcGrds_5JP5hvjCnFgW3OyujlXIQtzhlrEuQlGrxI4jY3ilma25ZyFVHbUetq6QCx52tfsEy2h-0jBEZM9TTwb7PzWjJUGWbqB5C8S81sMndQtZpbuu_EsEo6kMNLCpJ0S-LVNG8=s1000-no" width="100" height="100"> <%="Welcome to Safe Space #{@name}!"%></h1>
    <p>Health</p>
    <form method= "POST" action = "/health">
    <input type= "submit"></form>
        <p>Food</p>
    <form method= "POST" action = "/food">
    <input type= "submit"></form>
        <p>Mental Health</p>
    <form method= "POST" action = "/mental_health">
    <input type= "submit"></form>
        <p>More</p>
    <form method= "POST" action = "/more">
    <input type= "submit"></form>
  </body>
</html>

<!--<h2>align="left":</h2>-->
<!--<p>This is some text. <img src="smiley.gif" alt="Smiley face" width="42" height="42" align="left"> This is some text.</p>-->