
  
  <html>
  <head>
    <center>
    <meta charset="UTF-8">
    <title>Safe Space</title>
  </head>

  <body>
    <h1></h1>
    <a href="https://imgbb.com/"><img src="https://image.ibb.co/h7eBGK/Safe.jpg" alt="Safe" border="0"></a>
    
    <!-- Insert Your Form Below -->
  <form method= "POST" action = "/login">
    <p>Email: <input type= "text" name= "email"></p>
    <p> Password: <input type="text" name= "password"></p>
    <input type= "submit">
  </form>
  </body>
  </center>
</html>