<!DOCTYPE html>

<html>
  <head>
    <center>
    <meta charset="UTF-8">
    <title>Safe Space</title>
    <link rel="stylesheet" href="css/login.css"
  </head>

  <body>
    <h1></h1>
    <a href="https://imgbb.com/"><img src="https://lh3.googleusercontent.com/Y2T_jA4D0H8vIoLn9tH83JZV5unVshszcR_6kr_ZY7oemrO7R6P8Ec26gXBIVLPGqL2e5cmKVYDpH5efNjBSPqYDEjDxuzGMpEW8yK6Um98amgv-VFKYYxxmxqzwql9Tqubre5XccQ9t6GWvA4FyocxQT972ar5pLWSyO8TC6yizIeyembJHvQ_76S5LcjEBJL5nZukF2EpODPBk0NSMyRNfjC17Nd9X_z1TV7RkXLU02bm3GlAalUCVTQ2dncjISljLAGyU4u5XpKHkFjcWCrA5BvWLZT1fjrc4eNqdtBFmaU_-RBAMEZTqC2yXxAjX0XE_NwxqMPb0-YAFbOD_GJ2wnhXRkAmkAJ_GS4Ozveh-ckR0t54gWhZwcJ_wSQCuDRMZsBcI0FimKAxkDywoY1YPAbr-tnKOBmii40PNIb1wh-cOA3jNKpaGJzHJ6p2CRIhzuY9UbWYtcNQs_PgsT-3SPR6n5_dJu5muCZNZHLeFvBeezZMs1Jp8JvLfpEMyGgJ4MlT7jhX5c7yAnaDvCLWJc_yDsuDFHaJ4SqLb_g8P7qEx8-0QIvxZLkrnHDhBzPh2csnLvnasaSY7CdZ67S35mTBssjinlcJx-WY=s1000-no" alt="Safe" border="0" width="300" length="300"></a>
    
    <!-- Insert Your Form Below -->
  <form method= "POST" action = "/">
    <p>Username: <input type= "text" name= "email"></p>
    <p> Password: <input type="text" name= "password"></p>
    <!--<input type= "submit">-->
    <button class="button" style="vertical-align:middle"><span>Submit </span></button>
  </form>
  </body>
  </center>
</html>