<!DOCTYPE html>
<html lang="en">
  <head>
            
    <form method= "POST" action = "/">
    <input type= "submit" value="Back"></form>
    <title>MENTAL HEALTH</title>
  </head>
  <body>
    <h1>Mental Health</h1>
    
    <form method= "POST" action = "/misunderstood">
    <input type= "submit" value="Misunderstood"></form>
        
    <form method= "POST" action = "/bullying">
    <input type= "submit" value="Bullying"></form>
    
  </body>
</html>