<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MENTAL HEALTH</title>
  </head>
  <body>
    <h1>Mental Health</h1>
    <p>Misunderstood</p>
    <form method= "POST" action = "/misunderstood">
    <input type= "submit"></form>
        <p>Bullying</p>
    <form method= "POST" action = "/bullying">
    <input type= "submit"></form>
    
  </body>
</html>