<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/mental_health.css">   
    <form method= "POST" action = "/">
    <input class="btn_mh_back" type= "submit" value="Back"></form>
    <title>MENTAL HEALTH</title>
  </head>
  <body>
    <h1>Mental Health</h1>
    
    <form method= "POST" action = "/misunderstood">
    <input class="btn_mh1" type= "submit" value="Misunderstood"></form>
        
    <form method= "POST" action = "/bullying">
    <input class="btn_mh2" type= "submit" value="Bullying"></form>
    
  </body>
</html>