<!DOCTYPE html>
<html lang="en">
  <head>
            <p>Back</p>
    <form method= "POST" action = "/">
    <input type= "submit"></form>
    <title>MORE</title>
  </head>
  <body>
    <h1>More</h1>
    <p>Sports</p>
    <form method= "POST" action = "/sports">
    <input type= "submit"></form>
        <p>Fashion</p>
    <form method= "POST" action = "/fashion">
    <input type= "submit"></form>
        <p>Help</p>
    <form method= "POST" action = "/help">
    <input type= "submit"></form>
        <p>Other</p>
    <form method= "POST" action = "/other">
    <input type= "submit"></form>
  </body>
</html>