<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/more.css">
    <form method= "POST" action = "/">
    <input class="btn_more_back" type= "submit" value="Back"></form>
    <title>MORE</title>
  </head>
  <body>
    <h1>More</h1>
    
    <form method= "POST" action = "/sports">
    <input class= "btn_more1" type= "submit" value="Sports"></form>
        
    <form method= "POST" action = "/fashion">
    <input class= "btn_more2" type= "submit" value="Fashion"></form>
        
    <form method= "POST" action = "/help">
    <input class="btn_more3" type= "submit" value="Help"></form>
        
    <form method= "POST" action = "/other">
    <input class="btn_more4" type= "submit" value="Other"></form>
  </body>
</html>