<!DOCTYPE html>
<html lang="en">
  <head>
            
    <form method= "POST" action = "/">
    <input type= "submit" value="Back"></form>
    <title>MORE</title>
  </head>
  <body>
    <h1>More</h1>
    
    <form method= "POST" action = "/sports">
    <input type= "submit" value="Sports"></form>
        
    <form method= "POST" action = "/fashion">
    <input type= "submit" value="Fashion"></form>
        
    <form method= "POST" action = "/help">
    <input type= "submit" value="Help"></form>
        
    <form method= "POST" action = "/other">
    <input type= "submit" value="Other"></form>
  </body>
</html>