<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Other</title>
        <p>Back</p>
    <form method= "POST" action = "/more">
    <input type= "submit"></form>
    <h1>Other</h1>
  </head>
  <body>
    <h3>
      <!--Topic/title of post-->
      Jokes
    </h3>
    <h4>
      <!--Date and author ex. Lusia at 9-21-18-->
      jcsansom on Aug. 2, 2018
    </h4>
    <p>
      <!--Actual post -->
      What are Italian’s favorite horror movies? Creepypasta.
What do you call Rapunzel's roof? Pascal’s Triangle.
What is a cold beverage that can help you? Kool Aid.
Why shouldn’t you iron a four leaf clover? You shouldn’t press your luck.

    </p>
  </body>
</html>