<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Reviews</title>
    <link rel="stylesheet" href="css/reviews.css">
    <form method= "POST" action = "/food">
    <input class="btn_reviews" type= "submit" value="Back"></form>
    <h1>Reviews</h1>
  </head>
  <body>
    <h3>
      <!--Topic/title of post-->
     Mushrooms (As a whole)
    </h3>
    <h4>
      <!--Date and author ex. Lusia at 9-21-18-->
      
       jcsansom on Aug. 2, 2018
    </h4>
    <p>
      They are bad. Do not eat mushrooms.
      <!--Actual post -->
    </p>
  </body>
</html>