<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sports</title>
        <p>Back</p>
    <form method= "POST" action = "/more">
    <input type= "submit"></form>
    <h1>Sports</h1>
  </head>
  <body>
    <h3>
      Sporting 101
    </h3>
    <h4>
      jcsansom on Aug. 2, 2018
    </h4>
    <p>
      Sports are a nesscity of life, we need to move. Sporting is pretty cool.
    </p>
    <h3>
      <!--Topic/title of post-->
      How To Sport
    </h3>
    <h4>
      <!--Date and author ex. Lusia at 9-21-18-->
      jcsansom on Aug. 2, 2018
    </h4>
    <p>
      <!--Actual post -->
      If you do not know how to sport this is a how to for sporting. 
      1. Choose a sport, it can be anything from throwing to hitting to moving fast.
      2. Sport. Just do it.
      And that's how you sport.
    </p>
  </body>
</html>